# Initialize the dataframes

In [45]:
from google.colab import drive
from google.colab import files
drive.mount('/content/drive')
%cd /content/drive/My Drive/Colab Notebooks/FinalCapstone
import pandas as pd

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/My Drive/Colab Notebooks/FinalCapstone



---

# Excel Data Input

In [46]:
df = pd.read_excel('data.xlsx', header=None)
df1=df[0:6]
df2=df[6:12]
df3=df[12:18]

#Year 1
Y1names = df1.iloc[:,0].tolist()

row1 = df1.iloc[0]
row2 = df1.iloc[1]
row3 = df1.iloc[2]
row4 = df1.iloc[3]
row5 = df1.iloc[4]
row6 = df1.iloc[5]

Y1vac1 = [row1[1], row1[2], row1[3]]
Y1vac2 = [row2[1], row2[2], row2[3]]
Y1vac3 = [row3[1], row3[2], row3[3]]
Y1vac4 = [row4[1], row4[2], row4[3]]
Y1vac5 = [row5[1], row5[2], row5[3]]
Y1vac6 = [row6[1], row6[2], row6[3]]

#Year 2
Y2names = df2.iloc[:,0].tolist()

row1 = df2.iloc[0]
row2 = df2.iloc[1]
row3 = df2.iloc[2]
row4 = df2.iloc[3]
row5 = df2.iloc[4]
row6 = df2.iloc[5]

Y2vac1 = [row1[1], row1[2], row1[3], row1[4]]
Y2vac2 = [row2[1], row2[2], row2[3], row2[4]]
Y2vac3 = [row3[1], row3[2], row3[3], row3[4]]
Y2vac4 = [row4[1], row4[2], row4[3], row4[4]]
Y2vac5 = [row5[1], row5[2], row5[3], row5[4]]
Y2vac6 = [row6[1], row6[2], row6[3], row6[4]]

#Year 3
Y3names = df3.iloc[:,0].tolist()

row1 = df3.iloc[0]
row2 = df3.iloc[1]
row3 = df3.iloc[2]
row4 = df3.iloc[3]
row5 = df3.iloc[4]
row6 = df3.iloc[5]

Y3vac1 = [row1[1], row1[2], row1[3], row1[4]]
Y3vac2 = [row2[1], row2[2], row2[3], row2[4]]
Y3vac3 = [row3[1], row3[2], row3[3], row3[4]]
Y3vac4 = [row4[1], row4[2], row4[3], row4[4]]
Y3vac5 = [row5[1], row5[2], row5[3], row5[4]]
Y3vac6 = [row6[1], row6[2], row6[3], row6[4]]

In [47]:
def output():
  print("Y1names =", Y1names,";")
  print("Y1vac1 =", Y1vac1,";")
  print("Y1vac2 =", Y1vac2,";")
  print("Y1vac3 =", Y1vac3,";")
  print("Y1vac4 =", Y1vac4,";")
  print("Y1vac5 =", Y1vac5,";")
  print("Y1vac6 =", Y1vac6,";")
  print("Y2names =", Y2names,";")
  print("Y2vac1 =", Y2vac1,";")
  print("Y2vac2 =", Y2vac2)
  print("Y2vac3 =", Y2vac3,";")
  print("Y2vac4 =", Y2vac4,";")
  print("Y2vac5 =", Y2vac5,";")
  print("Y2vac6 =", Y2vac6,";")
  print("Y3names =", Y3names,";")
  print("Y3vac1 =", Y3vac1,";")
  print("Y3vac2 =", Y3vac2,";")
  print("Y3vac3 =", Y3vac3,";")
  print("Y3vac4 =", Y3vac4,";")
  print("Y3vac5 =", Y3vac5,";")
  print("Y3vac6 =", Y3vac6,";")

In [48]:
output()

Y1names = ['Joseph Caravella', 'Jordan Coffey', 'Marcus Davis', 'Jackson Weaver', 'J.J. Westmoreland', 'Hannah Willey'] ;
Y1vac1 = [10, 2, 5] ;
Y1vac2 = [10, 2, 5] ;
Y1vac3 = [11, 1, 4] ;
Y1vac4 = [9, 12, 4] ;
Y1vac5 = [12, 2, 6] ;
Y1vac6 = [10, 1, 4] ;
Y2names = ['Cody Bushyhead', 'Prabh Khunkhun', 'Jay Napolitano', 'Andrew Oracz', 'Natasha Rezvani', 'Steven Vo'] ;
Y2vac1 = [9, 12, 3, 6.0] ;
Y2vac2 = [9, 12, 4, 6.0]
Y2vac3 = [11, 3, 5, 6.0] ;
Y2vac4 = [10, 2, 4, 6.0] ;
Y2vac5 = [8, 12, 2, 4.0] ;
Y2vac6 = [12, 1, 3, 5.0] ;
Y3names = ['Bryce Chapman', 'Charlie Dean', 'Read Founds', 'Marshall Frieden', 'Shonte Joseph', 'Chris Van Hise'] ;
Y3vac1 = [11, 3, 5, 6.0] ;
Y3vac2 = [8, 10, 1, 2.0] ;
Y3vac3 = [11, 12, 2, 4.0] ;
Y3vac4 = [8, 12, 2, 3.0] ;
Y3vac5 = [7, 12, 2, 4.0] ;
Y3vac6 = [8, 11, 2, 5.0] ;



---

# Data Input from CSP File

In [49]:
data1 = {
"Joseph Caravella": [1, 7, 2, 1, 3, 6, 4, 2, 1, 5, 3, 1],
"Jordan Coffey": [2, 6, 7, 1, 5, 3, 1, 3, 1, 4, 2, 1],
"Marcus Davis": [3, 1, 4, 3, 1, 2, 1, 5, 2, 1, 7, 6],
"Jackson Weaver": [7, 2, 1, 4, 6, 1, 2, 1, 3, 1, 5, 3],
"J.J. Westmoreland": [1, 3, 1, 2, 1, 7, 3, 6, 5, 2, 1, 4],
"Hannah Willey": [6, 1, 3, 7, 2, 1, 5, 1, 4, 3, 1, 2]
}
data2 = {
"Cody Bushyhead": [1, 4, 9, 1, 2, 8, 3, 1, 7, 5, 1, 6],
"Prabh Khunkhun": [6, 7, 1, 8, 1, 9, 2, 1, 3, 4, 1, 5],
"Jay Napolitano": [8, 1, 7, 9, 6, 5, 1, 3, 1, 2, 4, 1],
"Andrew Oracz": [7, 6, 2, 5, 1, 4, 1, 9, 1, 3, 8, 1],
"Natasha Rezvani": [1, 9, 1, 7, 8, 1, 5, 6, 2, 1, 3, 4],
"Steven Vo": [9, 1, 8, 1, 7, 1, 6, 5, 4, 1, 2, 3]
}
data3 = {
"Bryce Chapman": [1, 4, 1, 5, 1, 8, 7, 2, 6, 3, 1, 2],
"Charlie Dean": [1, 2, 1, 7, 8, 6, 3, 1, 4, 1, 2, 5],
"Read Founds": [6, 1, 5, 2, 1, 2, 4, 8, 3, 7, 1, 1],
"Marshall Frieden": [8, 1, 7, 4, 6, 3, 2, 1, 2, 1, 5, 1],
"Shonte Joseph": [3, 1, 2, 8, 2, 7, 6, 1, 5, 1, 1, 4],
"Chris Van Hise": [2, 8, 3, 1, 4, 1, 1, 5, 1, 2, 6, 7]
}

# Creating the Dataframes

In [50]:
def year1(data1):
  # Convert the data to a DataFrame
  df1 = pd.DataFrame(data1)

  # Set the index to be the month names
  df1.index = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

  # Transpose the DataFrame so that the names are in the first column
  df1 = df1.transpose()

  # Rename the index to be 'Name'
  df1.index.name = 'Name'

  num_to_rotation = {
      1: 'Inpt',
      2: 'OBGYN',
      3: 'Peds',
      4: 'NICU',
      5: 'Emergency Med',
      6: 'Psych',
      7: 'Surg'
  }
  # Replace numbers with letters using the map() method
  for ind in df1:
    df1[ind] = df1[ind].map(num_to_rotation)

  return df1

In [51]:
def year2(data2):
  df2 = pd.DataFrame(data2)

  # Set the index to be the month names
  df2.index = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

  # Transpose the DataFrame so that the names are in the first column
  df2 = df2.transpose()

  # Rename the index to be 'Name'
  df2.index.name = 'Name'

  num_to_rotation = {
      1: 'Inpt',
      2: 'EM UMC',
      3: 'Gyn',
      4: 'Cards,',
      5: 'Crit Care',
      6: 'Amb Peds',
      7: 'Practice Mngmt',
      8: 'Peds EM',
      9: 'Ortho'
  }
  # Replace numbers with letters using the map() method
  for ind in df2:
    df2[ind] = df2[ind].map(num_to_rotation)

  # Print the DataFrame
  return df2

In [52]:
def year3(data3):
  # Convert the data to a DataFrame
  df3 = pd.DataFrame(data3)

  # Set the index to be the month names
  df3.index = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

  # Transpose the DataFrame so that the names are in the first column
  df3 = df3.transpose()

  # Rename the index to be 'Name'
  df3.index.name = 'Name'

  num_to_rotation = {
      1: 'Elective',
      2: 'Inpt',
      3: 'ENT/Opthal',
      4: 'Uro/Neuro,',
      5: 'MSK',
      6: 'Amb Peds',
      7: 'Comm Med',
      8: 'Peds EM',
      9: 'Derm'
  }
  # Replace numbers with letters using the map() method
  for ind in df3:
    df3[ind] = df3[ind].map(num_to_rotation)

  # Print the DataFrame
  return df3

In [53]:
df1=year1(data1)
df2=year2(data2)
df3=year3(data3)



---


# Year 1 Constraints

Constraints:
*   Inpt cannot occur two months in a row for a student
*   Each month two students must have Inpt
* Inpt cannot be in a vacation month
* Peds cannot be in a vacation month
* Each student must take OBGYN twice
* Each student must take Peds twice
* Each student must take NICU, Emergency Med, Psych, and Surg one time

Classes: Inpt, OBGYN, Peds, NICU, Emergency Med, Psych, Surg

In [54]:
df1

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
Name,,,,,,,,,,,,
Joseph Caravella,Inpt,Surg,OBGYN,Inpt,Peds,Psych,NICU,OBGYN,Inpt,Emergency Med,Peds,Inpt
Jordan Coffey,OBGYN,Psych,Surg,Inpt,Emergency Med,Peds,Inpt,Peds,Inpt,NICU,OBGYN,Inpt
Marcus Davis,Peds,Inpt,NICU,Peds,Inpt,OBGYN,Inpt,Emergency Med,OBGYN,Inpt,Surg,Psych
Jackson Weaver,Surg,OBGYN,Inpt,NICU,Psych,Inpt,OBGYN,Inpt,Peds,Inpt,Emergency Med,Peds
J.J. Westmoreland,Inpt,Peds,Inpt,OBGYN,Inpt,Surg,Peds,Psych,Emergency Med,OBGYN,Inpt,NICU
Hannah Willey,Psych,Inpt,Peds,Surg,OBGYN,Inpt,Emergency Med,Inpt,NICU,Peds,Inpt,OBGYN

# Year 2 Constraints

Constraints:
* Each student needs Inpt 4 times
* Inpt needs two people in it each month  
* Inpt cannot be in the same month as a vacation
* EM UMC cannot be in the same month as a vacation
* Everything else is needed only 1 time (Gyn,Cards,Crit Care,Amb Peds, EM UMC, Practice Mngmt, Peds EM, Ortho)
* All classes besides INPT will have 1 student per month max

Classes: Gyn, Cards, Crit Care, Amb Peds, EM UMC, Practice Mngmt, Peds EM, Ortho, Inpt

In [55]:
df2

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
Name,,,,,,,,,,,,
Cody Bushyhead,Inpt,"Cards,",Ortho,Inpt,EM UMC,Peds EM,Gyn,Inpt,Practice Mngmt,Crit Care,Inpt,Amb Peds
Prabh Khunkhun,Amb Peds,Practice Mngmt,Inpt,Peds EM,Inpt,Ortho,EM UMC,Inpt,Gyn,"Cards,",Inpt,Crit Care
Jay Napolitano,Peds EM,Inpt,Practice Mngmt,Ortho,Amb Peds,Crit Care,Inpt,Gyn,Inpt,EM UMC,"Cards,",Inpt
Andrew Oracz,Practice Mngmt,Amb Peds,EM UMC,Crit Care,Inpt,"Cards,",Inpt,Ortho,Inpt,Gyn,Peds EM,Inpt
Natasha Rezvani,Inpt,Ortho,Inpt,Practice Mngmt,Peds EM,Inpt,Crit Care,Amb Peds,EM UMC,Inpt,Gyn,"Cards,"
Steven Vo,Ortho,Inpt,Peds EM,Inpt,Practice Mngmt,Inpt,Amb Peds,Crit Care,"Cards,",Inpt,EM UMC,Gyn

# Year 3 Constraints

Constraints:
* Each student needs Inpt 2 times
* Each student needs Elective 4 times
* Elective needs two people in it each month  
* Inpt cannot be in the same month as a vacation
* ENT/Opthal and Uro/Neuro cannot be in a vacation month
* Everything else is needed only 1 time (ENT/Ophthal, MSK, Amb Peds, Uro/Neuro, Comm Med, Derm)
* All classes besides Elective will have 1 student per month max

Classes: Inpt, Elective, ENT/Ophthal, MSK, Amb Peds, Uro/Neuro, Comm Med, Derm

In [56]:
df3

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
Name,,,,,,,,,,,,
Bryce Chapman,Elective,"Uro/Neuro,",Elective,MSK,Elective,Peds EM,Comm Med,Inpt,Amb Peds,ENT/Opthal,Elective,Inpt
Charlie Dean,Elective,Inpt,Elective,Comm Med,Peds EM,Amb Peds,ENT/Opthal,Elective,"Uro/Neuro,",Elective,Inpt,MSK
Read Founds,Amb Peds,Elective,MSK,Inpt,Elective,Inpt,"Uro/Neuro,",Peds EM,ENT/Opthal,Comm Med,Elective,Elective
Marshall Frieden,Peds EM,Elective,Comm Med,"Uro/Neuro,",Amb Peds,ENT/Opthal,Inpt,Elective,Inpt,Elective,MSK,Elective
Shonte Joseph,ENT/Opthal,Elective,Inpt,Peds EM,Inpt,Comm Med,Amb Peds,Elective,MSK,Elective,Elective,"Uro/Neuro,"
Chris Van Hise,Inpt,Peds EM,ENT/Opthal,Elective,"Uro/Neuro,",Elective,Elective,MSK,Elective,Inpt,Amb Peds,Comm Med



---

# Excel Conversion

In [57]:
df = pd.concat([df1, df2, df3])



---


# Output

In [58]:
def excelCreation():
  df.to_excel('output.xlsx')