In [4]:
from google.colab import drive
from google.colab import files
drive.mount('/content/drive')
%cd /content/drive/My Drive/Colab Notebooks

import pandas as pd 
import numpy as np
import datetime
import random

#Create all of the dataframes that are used
df_People = pd.DataFrame(columns=['Name','Year','Vacations','Previous Classes'])
df_People1 = pd.DataFrame(columns=['Name','Year','Vacations','Previous Classes'])
df_People2 = pd.DataFrame(columns=['Name','Year','Vacations','Previous Classes'])
df_People3 = pd.DataFrame(columns=['Name','Year','Vacations','Previous Classes'])

df_Vacation = pd.DataFrame(columns=['Name','July','August','September','October','November','December','January','February','March','April','May','June'])
df_Vacation1 = pd.DataFrame(columns=['Name','July','August','September','October','November','December','January','February','March','April','May','June'])
df_Vacation2 = pd.DataFrame(columns=['Name','July','August','September','October','November','December','January','February','March','April','May','June'])
df_Vacation3 = pd.DataFrame(columns=['Name','July','August','September','October','November','December','January','February','March','April','May','June'])

df_Schedule = pd.DataFrame(columns=['Name','July','August','September','October','November','December','January','February','March','April','May','June'])
df_Schedule1 = pd.DataFrame(columns=['Name','July','August','September','October','November','December','January','February','March','April','May','June'])
df_Schedule2 = pd.DataFrame(columns=['Name','July','August','September','October','November','December','January','February','March','April','May','June'])
df_Schedule3 = pd.DataFrame(columns=['Name','July','August','September','October','November','December','January','February','March','April','May','June'])

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/My Drive/Colab Notebooks

In [5]:
#ADDING CURRENT STUDENTS FOR TESTING
def addOldYear1():
  addEntry(["Joseph Caravella",1, "October 3-October 7| February 6:February 10| May 1:May 5|", ""])
  addEntry(["Jordan Coffey",1, "October 10-October 14| February 6:February 10| May 1:May 5|", ""])
  addEntry(["Marcus Davis",1, "November 7:November 11| January 9:January 13| April 10:April 14|", ""])
  addEntry(["Jackson Weaver",1, "September 26:September 30| December 19:December 23| April 17:April 21|", ""])
  addEntry(["J.J. Westmoreland",1, "December 26:December 30| February 20:February 24| June 5:June 9|", ""])
  addEntry(["Hannah \"Day\" Willey",1, "October 17:October 21| January 16:January 22| April 10:April 14|", ""])
def addOldYear2():
  addEntry(["Cody Bushyhead",2, "September 12:September 16| December 19:December 23| March 13:March 17| June 12:June 16|", ""])
  addEntry(["Prabh Khunkhun",2, "September 19:September 23| December 26:December 30| April 24:April 28| June 5:June 9|", ""])
  addEntry(["Jay Napolitano",2, "November 21:November 25| March 13:March 17| May 29:June 2| June 5:June 9| June 12:June 16|", ""])
  addEntry(["Andrew Oracz",2, "October 10:October 14| February 20:February 24| April 10:April 14| May 11:May 25| June 12:June 16|", ""])
  addEntry(["Natasha Rezvani",2, "August 1:August 5| December 26:December 30| February 20:February 24| April 3:April 7|", ""])
  addEntry(["Steven Vo",2, "December 19:December 23| January 23:January 27| March 20:March 24| May 23:May 27|", ""])

#USED FOR ADDING INFORMATION
def addEntry(student):
  df_People.loc[len(df_People)] = student

#FILLING IN THE DATAFRAMES
def FillDataFramesYear1():  #Year 1
  df_People1 = df_People[df_People['Year'] == 1]
  df_Schedule1["Name"]=df_People1["Name"]
  df_Vacation1["Name"]=df_People1["Name"]
  for ind in df_Vacation1.index:
    month=1
    while(month<=12): #Loops through every month and adds the vacation days they have
      monthName = datetime.date(1900, month, 1).strftime('%B')
      VacationBoolean=monthCheck(df_People1["Vacations"][ind],monthName)
      if(VacationBoolean):
        df_Vacation1[monthName][ind]="X"
        df_Schedule1[monthName][ind]="X"

      else:
        df_Vacation1[monthName][ind]=""
        df_Schedule1[monthName][ind]=""
      month=month+1
  return df_People1
  
def FillDataFramesYear2():  #Year 2
  df_People2 = df_People[df_People['Year'] == 2]
  df_Schedule2["Name"]=df_People2["Name"]
  df_Vacation2["Name"]=df_People2["Name"]
  for ind in df_Vacation2.index:
    month=1
    while(month<=12): #Loops through every month and adds the vacation days they have
      monthName = datetime.date(1900, month, 1).strftime('%B')
      VacationBoolean=monthCheck(df_People2["Vacations"][ind],monthName)
      if(VacationBoolean):
        df_Vacation2[monthName][ind]="X"
        df_Schedule2[monthName][ind]="X"
      else:
        df_Vacation2[monthName][ind]=""
        df_Schedule2[monthName][ind]=""
      month=month+1
  return df_People2

def FillDataFramesYear3(): #Year 3
  df_People3 = df_People[df_People['Year'] == 3]
  df_Schedule3["Name"]=df_People3["Name"]
  df_Vacation3["Name"]=df_People3["Name"]
  for ind in df_Vacation1.index:
    month=1
    while(month<=12): #Loops through every month and adds the vacation days they have
      monthName = datetime.date(1900, month, 1).strftime('%B')
      VacationBoolean=monthCheck(df_People3["Vacations"][ind],monthName)
      if(VacationBoolean):
        df_Vacation3[monthName][ind]="X"
        df_Schedule3[monthName][ind]="X"
      else:
        df_Vacation3[monthName][ind]=""
        df_Schedule3[monthName][ind]=""
      month=month+1

#Solution for the hospital meeting
#FILLING IN Schedule
def assignSchedule1():
  #Rules:
  #Each student needs Inpt 4 times
  #Inpt needs two people in it each month
  #Each other class can only have one person in it
  #Inpt cannot be in the same month as a vacation
  #Peds is needed 2 times
  #OBGYN is needed 2 times
  #NICU, Emergency Med, Psych, and Surg are only neeeded 1 time (1 student per month max)
  Classes=["Inpt","OBGYN","Inpt","NICU","Peds","Emergency Med","Inpt","Psych","Surg","Peds","Inpt","OBGYN"]
  counter=0 #Used to make sure that there is the correct amount of people in each class on a given month
  for ind in df_Schedule1.index:
    monthNumber = np.array([1, 2, 3, 4, 5, 6,7,8,9,10,11,12])
    for x in monthNumber:
      monthName = datetime.date(1900, x, 1).strftime('%B')
      className=Classes[counter]
      df_Schedule1[monthName][ind]=className
      df_People1["Previous Classes"][ind]=df_People1["Previous Classes"][ind]+" | "+className
      if(counter==11):
        counter=0
      else:
        counter=counter+1
    counter=counter+1

def assignSchedule2():
  #Rules:
  #Each student needs Inpt 4 times
  #Inpt needs two people in it each month  
  #Inpt cannot be in the same month as a vacation
  #Everything else is needed only 1 time (1 student per month max)
  Classes=["Inpt","Gyn","Cards","Inpt","Crit Care","Amb Peds","EM UMC","Inpt","Practice Mngmt","Peds EM","Inpt","Ortho"]
  counter=0 #Used to make sure that there is the correct amount of people in each class on a given month
  for ind in df_Schedule2.index:
    monthNumber = np.array([1, 2, 3, 4, 5, 6,7,8,9,10,11,12])
    for x in monthNumber:
      monthName = datetime.date(1900, x, 1).strftime('%B')
      className=Classes[counter]
      df_Schedule2[monthName][ind]=className
      df_People2["Previous Classes"][ind]=df_People2["Previous Classes"][ind]+" | "+className
      if(counter==11):
        counter=0
      else:
        counter=counter+1
    counter=counter+1

def assignSchedule3():
  #Rules:
  #Each student needs INPT 2 times
  #Each student needs Elective 4 times
  #Elective needs 2 students each month
  #Everything else is only needed 1 times (1 student per month max)
  Classes=["Inpt","Elective","ENT/Ophthal","MSK","Elective","Inpt""Amb Peds","Elective","Uro/Neuro","Comm Med","Derm","Elective"]
  counter=0
  for ind in df_Schedule3.index:
    monthNumber = np.array([1, 2, 3, 4, 5, 6,7,8,9,10,11,12])
    for x in monthNumber:
      monthName = datetime.date(1900, x, 1).strftime('%B')
      className=Classes[counter]
      df_Schedule3[monthName][ind]=className
      df_People3["Previous Classes"][ind]=df_People3["Previous Classes"][ind]+" | "+className
      if(counter==11):
        counter=0
      else:
        counter=counter+1
    counter=counter+1


#Checks if they have a vacation in the current month
def monthCheck(Vacations, Month):
  if(Vacations.find(Month)!=-1):
    return True
  else:
    return False  


#Used for exporting dataframes
def fileDownloads():
  df_Schedule = pd.concat([df_Schedule1, df_Schedule2, df_Schedule3]) #Fills in the complete schedule dataframe
  df_Vacation = pd.concat([df_Vacation1, df_Vacation2, df_Vacation3]) #Fills in the complete vacation dataframe
  df_Schedule.to_csv('Schedule.csv')
  df_Vacation.to_csv('Vacation.csv')

In [6]:
addOldYear1()
addOldYear2()
df_People1=FillDataFramesYear1()
df_People2=FillDataFramesYear2()
assignSchedule1()
assignSchedule2()

<ipython-input-5-8419dfc5924a>:95: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_People1["Previous Classes"][ind]=df_People1["Previous Classes"][ind]+" | "+className
<ipython-input-5-8419dfc5924a>:116: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_People2["Previous Classes"][ind]=df_People2["Previous Classes"][ind]+" | "+className

In [7]:
df_Schedule1

,Name,July,August,September,October,November,December,January,February,March,April,May,June
0,Joseph Caravella,Inpt,Psych,Surg,Peds,Inpt,OBGYN,Inpt,OBGYN,Inpt,NICU,Peds,Emergency Med
1,Jordan Coffey,Psych,Surg,Peds,Inpt,OBGYN,Inpt,OBGYN,Inpt,NICU,Peds,Emergency Med,Inpt
2,Marcus Davis,Surg,Peds,Inpt,OBGYN,Inpt,OBGYN,Inpt,NICU,Peds,Emergency Med,Inpt,Psych
3,Jackson Weaver,Peds,Inpt,OBGYN,Inpt,OBGYN,Inpt,NICU,Peds,Emergency Med,Inpt,Psych,Surg
4,J.J. Westmoreland,Inpt,OBGYN,Inpt,OBGYN,Inpt,NICU,Peds,Emergency Med,Inpt,Psych,Surg,Peds
5,"Hannah ""Day"" Willey",OBGYN,Inpt,OBGYN,Inpt,NICU,Peds,Emergency Med,Inpt,Psych,Surg,Peds,Inpt

In [8]:
df_Schedule2

,Name,July,August,September,October,November,December,January,February,March,April,May,June
6,Cody Bushyhead,EM UMC,Inpt,Practice Mngmt,Peds EM,Inpt,Ortho,Inpt,Gyn,Cards,Inpt,Crit Care,Amb Peds
7,Prabh Khunkhun,Inpt,Practice Mngmt,Peds EM,Inpt,Ortho,Inpt,Gyn,Cards,Inpt,Crit Care,Amb Peds,EM UMC
8,Jay Napolitano,Practice Mngmt,Peds EM,Inpt,Ortho,Inpt,Gyn,Cards,Inpt,Crit Care,Amb Peds,EM UMC,Inpt
9,Andrew Oracz,Peds EM,Inpt,Ortho,Inpt,Gyn,Cards,Inpt,Crit Care,Amb Peds,EM UMC,Inpt,Practice Mngmt
10,Natasha Rezvani,Inpt,Ortho,Inpt,Gyn,Cards,Inpt,Crit Care,Amb Peds,EM UMC,Inpt,Practice Mngmt,Peds EM
11,Steven Vo,Ortho,Inpt,Gyn,Cards,Inpt,Crit Care,Amb Peds,EM UMC,Inpt,Practice Mngmt,Peds EM,Inpt